body{
    padding: 0px;
    margin: 0px;
}

.whole-page{
    display: flex;
    flex-direction: column;
   
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding: 0px 100px 0px 150px;
}

.header p{
    color: #E5E7EB;
    font-size: 18px;
}

ul{
    list-style: none;
    color: darkgrey;
    gap: 15px;
    display: flex;
}

a{
    text-decoration: none;
    color: lightgray;
}

.section-1{
    display: flex;
    background-color: #1F2937;
    padding: 80px 100px 80px 150px;
    justify-content: space-between;

}

.section-1 .header-w-subtext-and-button{
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.section-1 .placeholder{
    width: 300px;
    background-color: darkgray;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.section-1 .header-w-subtext-and-button .sub-header{
    font-size: 48px;
    font-weight: bolder;
    color: white;
}

.section-1 .header-w-subtext-and-button .sub-text{
    color: darkgray;
}

.section-1 .header-w-subtext-and-button button{
   width: 90px;
   background-color: #3882F6;
   border-radius: 5px;
   border: none;
   color: white;
}

.section-2{
    display: flex;
    padding: 30px 100px 80px 150px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.section-2 .header{
    background-color: white;
    font-weight: bold;
    font-size: 24px;
}

.section-2 .images-with-text{
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.section-2 .images-with-text .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.section-2 .images-with-text .content .graphic{
    width: 100px;
    height: 100px;
    border-radius: 5px;
    border: solid;
    border-width: 3px;
    border-color: #3882F6;
}

.section-2 .images-with-text .content p{
    text-align: center;
    margin: 5px;
}


.section-3{
    display: flex;
    flex-direction: column;
    padding: 30px 100px 80px 150px;
    background-color: #E5E7EB;
    
}

.section-3 .quote p{
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1F2937;
}

.section-3 .quote-source{
    display: flex;
    justify-content: flex-end;
    padding: 0px 30px 0px 0px;
}

.section-3 .quote-source p{
    font-weight: bold;
    
}
.section-4{
    display: flex;
    padding: 80px 100px 80px 150px; 
    justify-content: center;
}

.section-4 .container{
    background-color: #3882F6;
    border-radius: 5px;
    display: flex;
    padding: 30px 80px 30px 80px;
    align-items: center;
    gap: 50px;
}

.section-4 .container .content{
    display: flex;
    flex-direction: column;
}

.section-4 .container .content #header{
    font-size: 24px;
    color: #E5E7EB;
    margin: 0px;
}

.section-4 .container .content #text{
    font-size: 12px;
    color: #E5E7EB;
    margin: 0px;
}

.section-4 .container .right-side button{
    background-color: #3882F6;
    border-radius: 5px;
    color: #E5E7EB;
    border-color: #E5E7EB;
  
    
}

.footer{
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
}

.footer p{
    color: #E5E7EB;
    font-size: 12px;
}